@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
    font-style: bold;
    font-weight: 700;
}

body {
    width: 400px;
    height: 400px;
}

.input-group {
    margin-bottom: 20px;
}

.form-control {
    border-color: $dark-grey;
}